.wq-editor-box{
    margin: 0px;
    padding:0px;
    font-style: normal;
    border:1px solid #eaeaea;
    padding:0px 8px 8px 8px;
    
}
.wq-editor-box .wq-editor-svgbox{
    display: none;
}
.wq-editor-box .wq-toolbar{
    margin:0px;
    padding:0px;
    font-style: normal;   
    display: flex;
    border-bottom:solid 1px #eaeaea;  
    margin-bottom:8px;  
}
.wq-editor-box .wq-toolbar div{
    width:auto;
    height: auto;
    padding:8px;
    cursor: pointer;
    line-height: 0px;
}
.wq-editor-box .wq-toolbar div:hover{
    background-color: #f3f3f3;    
}
.wq-editor-box .wq-toolbar div svg{
    width:12px;
    height:12px;
    pointer-events: none;
    border:none;     
}


